{% extends 'base.html.twig' %}

{% block title %}{{ title.title }}{% endblock %}

{% block body %}

{% if title.title is not empty %}
    <p>{{ title.title }}</p>
{% else %}

<p>Commencer par ajouter un titre d'onglet</p>

{% endif %}

{% endblock %}