/* HEADER */

body {
    background-color: lemonchiffon;
}




/* #header {

} */

#headerPicture {
    object-fit:cover;
    width: 100vw;
    height: 60vh;
    position: absolute;
}

#h1 {
    font-family: 'Robotto';
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1rem;
    position: relative;
    color: beige;
    font-size: 10rem;
    text-shadow: -0.1rem -0.1rem #fb6, 0.1rem 0.1rem #d60, -0.3rem 0 0.4rem #000;
}

@media screen and (max-width:1280px)
{
    #h1 {
        font-family: 'Robotto';
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.1rem;
        position: relative;
        color: beige;
        font-size: 8em;
        text-shadow: -0.1rem -0.1rem #fb6, 0.1rem 0.1rem #d60, -0.3rem 0 0.4rem #000;
    }
}

@media screen and (max-width:800px)
{
    #h1 {
        font-family: 'Robotto';
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.1rem;
        position: relative;
        color: beige;
        font-size: 6em;
        text-shadow: -0.1rem -0.1rem #fb6, 0.1rem 0.1rem #d60, -0.3rem 0 0.4rem #000;
    }
}

@media screen and (max-width:320px)
{
    #h1 {
        font-family: 'Robotto';
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.1rem;
        position: relative;
        color: beige;
        font-size: 4em;
        text-shadow: -0.1rem -0.1rem #fb6, 0.1rem 0.1rem #d60, -0.3rem 0 0.4rem #000;
    }
}


/* MAIN */

#main {
    position: relative;
    margin-top: 60vh;
    margin-bottom: 2vh;
}

#presentationText {
    font-size: 1.25rem;
    text-align: justify;
}

.article h2 {
    color: floralwhite;
    font-size: 2.5rem;
}

.article img {
    object-fit:cover;
    width: 100vw;
    height: 60vh;
}

.article p {
    color: floralwhite;
    font-size: 1.25rem;
}


/* FOOTER */

footer {
    /* display: none; */
}