{% extends '/backend/base_backend.html.twig' %}


{% block title %}Backend{% endblock %}

{% block body %}

    {{ render(controller('App\\Controller\\Backend\\MainController::navBackend'))}}

        <div class="col-10">
            <h1>Merci de choisir un boutton</h1>
        </div>
    
    </div>
</div>
</main>







<footer>

</footer>


</body>


{% endblock %}



